<!DOCTYPE html>
<html>
<head>
	<title>Hola</title>
	<h1>El encabezado más importante</h1>
	<h2>El segundo encabezado más importante</h2>
	<h3>El tercer encabezado más importante</h3>
</head>
<body>
	<div>
		<h1><a href="/">Django Girls Blog</a></h1>
	</div>
<!--<p>Hola</p>-->
<!--<div>
	<p>published:18.07.2019, 18:38</p>
	<h2><a href="">Este es el título de este párrafo que voy a escribir</a></h2>
	<p> Primero Dios
	Un viaje de mil millas comienza por un paso.
	Cada día que pasa el camino se hace más familiar y más facil por que vamos tomando confianza.</p>
</div>-->
{% for post in posts %}
	<div>
		<p>published:{{ post.published_date }}</p>
		<h2><a href="">{{ post.title }}</a></h2>
		<p>{{ post.text|linebreaksbr }}</p>
	</div>
	
{% endfor %}
<p>Si Funciona !!</p>
</body>
</html>