<!DOCTYPE html>
<html>
<head>
	<title>Hola</title>
	<h1>El encabezado más importante</h1>
	<h2>El segundo encabezado más importante</h2>
	<h3>El tercer encabezado más importante</h3>
</head>
<body>
	<div>
		<h1><a href="/">Django Girls Blog</a></h1>
	</div>
<!--<p>Hola</p>-->
<div>
	<h2><a href="">Este es el título de este párrafo que voy a escribir</a></h2>
	<p> Primero Dios
	Un viaje de mil millas comienza por un paso.
	Cada día que pasa el camino se hace más familiar y más facil por que vamos tomando confianza.</p>
</div>
<p>Si Funciona !!</p>
</body>
</html>